---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities?access_token=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-82-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"activityId":"91b501dc-4a38-44aa-b537-6095418713d8","calories":2475,"fuel":7500,"distance":19.665315,"steps":24975,"duration":"0:01:00.0000","activityType":"ALL_DAY","startTime":"2012-02-26T08:00:00Z","activityTimeZone":"America/Los_Angeles","status":"COMPLETE","deviceType":"FUELBAND","tags":[],"streams":[],"metrics":[]},{"activityId":"8554c3bb-f985-4700-a52d-6235475a10f0","calories":1848,"fuel":5555,"distance":14.6834352,"steps":18648,"duration":"0:01:00.0000","activityType":"ALL_DAY","startTime":"2012-02-25T08:00:00Z","activityTimeZone":"America/Los_Angeles","status":"COMPLETE","deviceType":"FUELBAND","tags":[],"streams":[]},{"activityId":"b7511567-9414-429a-9b7b-40ebc15af985","calories":396,"fuel":1200,"distance":3.1464504,"steps":3996,"duration":"0:01:00.0000","activityType":"ALL_DAY","startTime":"2012-02-24T08:00:00Z","activityTimeZone":"America/Los_Angeles","status":"COMPLETE","deviceType":"FUELBAND","tags":[],"streams":[]},{"activityId":"b87bb409-a618-47ee-a75e-1bb5f8daf9a6","calories":300,"fuel":900,"distance":2.3621999999999996,"steps":3000,"duration":"0:01:00.0000","activityType":"ALL_DAY","startTime":"2012-02-23T08:00:00Z","activityTimeZone":"America/Los_Angeles","status":"COMPLETE","deviceType":"FUELBAND","tags":[],"streams":[]},{"activityId":"6c6eb89c-fa42-49a6-8b04-2596297a7c3a","calories":200,"fuel":600,"distance":1.5748,"steps":2000,"duration":"0:01:00.0000","activityType":"ALL_DAY","startTime":"2012-02-22T08:00:00Z","activityTimeZone":"America/Los_Angeles","status":"COMPLETE","deviceType":"FUELBAND","tags":[],"streams":[]}],"paging":{"next":"/me/sport/activities?access_token=foobar&amp;offset=6&amp;count=5","previous":null}}'
  recorded_at: Sun, 20 Jan 2013 04:21:05 GMT
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities?access_token=foobar&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-82-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{ "data": [ { "activityId": "c3337642-72db-41f7-b4a2-4da4600dfc9f",
        "calories": 581, "fuel": 1653, "distance": 2.0936965942382812, "steps": 2659,
        "duration": "7:02:00.000", "activityType": "ALL_DAY", "startTime": "2013-02-26T07:00:00Z",
        "activityTimeZone": "America/Phoenix", "status": "IN_PROGRESS", "deviceType":
        "FUELBAND", "tags": [], "metrics": [] } ], "paging": { "next": "/me/sport/activities?count=1&access_token=foobar&offset=2"
        } }'
  recorded_at: Wed, 27 Feb 2013 16:18:07 GMT
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities?access_token=foobar&startDate=2013-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-82-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{ "data": [ { "activityId": "c3337642-72db-41f7-b4a2-4da4600dfc9f",
        "calories": 581, "fuel": 1653, "distance": 2.0936965942382812, "steps": 2659,
        "duration": "7:02:00.000", "activityType": "ALL_DAY", "startTime": "2013-01-01T07:00:00Z",
        "activityTimeZone": "America/Phoenix", "status": "IN_PROGRESS", "deviceType":
        "FUELBAND", "tags": [], "metrics": [] } ], "paging": { "next": "/me/sport/activities?startDate=2013-01-01&access_token=foobar&offset=2"
        } }'
  recorded_at: Wed, 27 Feb 2013 16:18:07 GMT
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities/c3337642-72db-41f7-b4a2-4da4600dfc9f?access_token=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-82-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{ "activityId": "91b501dc-4a38-44aa-b537-6095418713d8", "calories":
        257, "fuel": 662, "distance": 3.1317999362945557, "steps": 10, "duration":
        "0:14:31.000", "activityType": "RUN", "startTime": "2011-08-11T00:00:00Z",
        "activityTimeZone": "GMT-08:00", "status": "COMPLETE", "deviceType": "SPORTWATCH",
        "tags": [ { "tagType": "NOTE", "value": "text string" }, { "tagType": "COURT",
        "value": "DUNK" }, { "tagType": "TERRAIN", "value": "TRAIL" }, { "tagType":
        "EMOTION", "value": "HAPPY" }, { "tagType": "SHOES", "value": "AirMax" },
        { "tagType": "WEATHER", "value": "RAINY" } ], "metrics": [ { "intervalMetric":
        10, "intervalUnit": "SEC", "metricType": "DISTANCE", "values": [ 0.0299, 0.0562,
        0.0794, 0.114, 3.0967, 3.1296 ] }, { "intervalMetric": 1, "intervalUnit":
        "MIN", "metricType": "FUEL", "values": [ "21", "8", "21", "3", "19", "19",
        "8", "25", "8", "3", "16", "14", "23", "26", "28", "24", "14", "19", "16",
        "0", "2", "20", "22", "3", "21", "7", "24", "26", "25", "8", "21", "22", "20",
        "6", "22", "17", "15", "2", "22", "4", "18", "16", "9", "10", "0", "24", "7",
        "25", "9", "8", "15", "3", "7", "12", "22", "18", "1[...]
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities?access_token=foobar&count=1&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-82-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{ "data": [ { "activityId": "c3337642-72db-41f7-b4a2-4da4600dfc91",
        "calories": 581, "fuel": 1653, "distance": 2.0936965942382812, "steps": 2659,
        "duration": "7:02:00.000", "activityType": "ALL_DAY", "startTime": "2013-02-26T07:00:00Z",
        "activityTimeZone": "America/Phoenix", "status": "IN_PROGRESS", "deviceType":
        "FUELBAND", "tags": [], "metrics": [] } ], "paging": { "next": "/me/sport/activities?count=1&access_token=foobar&offset=3"
        } }'
  recorded_at: Thu, 14 Mar 2013 00:45:14 GMT
[...]
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities?access_token=foobar&count=1&endDate=2013-03-29&startDate=2013-03-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-165-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"activityId":"1b4f5b2c-26c4-45cc-952a-d62c61cf506a","activityType":"ALL_DAY","startTime":"2013-03-30T07:00:00Z","activityTimeZone":"America/Phoenix","status":"NONE","deviceType":"FUELBAND","metricSummary":{"calories":1462,"fuel":4158,"distance":6.641719,"steps":8435,"duration":"8:48:00.000"},"tags":[],"metrics":[]}],"paging":{"next":"/me/sport/activities?count=1&startDate=2013-03-29&endDate=2013-03-29&access_token=foobar&offset=2"}}'
  recorded_at: Sun, 31 Mar 2013 00:42:43 GMT
recorded_with: VCR 2.4.0
