---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/v1/me/sport/activities/91b501dc-4a38-44aa-b537-6095418713d8?access_token=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - nike
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-82-app-msp-api-0
    body:
      encoding: US-ASCII
      string: ! '{ "activityId": "91b501dc-4a38-44aa-b537-6095418713d8", "calories":
        257, "fuel": 662, "distance": 3.1317999362945557, "steps": 10, "duration":
        "0:14:31.000", "activityType": "RUN", "startTime": "2011-08-11T07:00:00Z",
        "activityTimeZone": "America/Phoenix", "status": "COMPLETE", "deviceType": "SPORTWATCH",
        "tags": [ { "tagType": "NOTE", "value": "text string" }, { "tagType": "COURT",
        "value": "DUNK" }, { "tagType": "TERRAIN", "value": "TRAIL" }, { "tagType":
        "EMOTION", "value": "HAPPY" }, { "tagType": "SHOES", "value": "AirMax" },
        { "tagType": "WEATHER", "value": "RAINY" } ], "metrics": [ { "intervalMetric":
        10, "intervalUnit": "SEC", "metricType": "DISTANCE", "values": [ 0.0299, 0.0562,
        0.0794, 0.114, 3.0967, 3.1296 ] }, { "intervalMetric": 1, "intervalUnit":
        "MIN", "metricType": "FUEL", "values": [ "21", "8", "21", "3", "19", "19",
        "8", "25", "8", "3", "16", "14", "23", "26", "28", "24", "14", "19", "16",
        "0", "2", "20", "22", "3", "21", "7", "24", "26", "25", "8", "21", "22", "20",
        "6", "22", "17", "15", "2", "22", "4", "18", "16", "9", "10", "0", "24", "7",
        "25", "9", "8", "15", "3", "7", "12", "22", "18", "1[...]
